{% extends 'ventas/base.html' %}
{% block js %}

{% endblock %}
{% block css %}

{% endblock %}
{% block contenido %}
{% load static %}
    <div id="contenido">

           <h2>Galería de nuestra tienda</h2>
           <br><br>
           <div class="galeria">
                <a data-fancybox="gallery" href="img/tienda/tienda1.jpg"><img src="img/tienda/tienda1.jpg"></a>
                <a data-fancybox="gallery" href="img/tienda/tienda2.jpeg"><img src="img/tienda/tienda2.jpeg"></a>
                <a data-fancybox="gallery" href="img/tienda/tienda3.jpg"><img src="img/tienda/tienda3.jpg"></a>
                <a data-fancybox="gallery" href="img/tienda/tienda4.jpg"><img src="img/tienda/tienda4.jpg"></a>
                <a data-fancybox="gallery" href="img/tienda/tienda5.jpg"><img src="img/tienda/tienda5.jpg"></a>     
           </div>
           


     

    </div>
{% endblock %}
